@import "../styles/variables.scss";
.Farming {
    width: 100%;
    background: url('/assets/img/guides_mb.png'), url('/assets/img/background1.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 11%, 100% 100%;
    background-position: 100% 100%, 100% 100%;
    @include iphone {
        background: url('/assets/img/tree.png'), url('/assets/img/farming_mb.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 60% 8%, 100% 100%;
        background-size: 80% 20%, 100% 100%;
        min-height: 125rem;
    }
    @include heebo;
    .farmingCon {
        @include iphone {
            padding-bottom: 0px;
        }
        padding-top: 7rem;
        padding-bottom: 361px;
        .container {
            @include iphone {
                width: 100%;
                background: transparent;
                box-shadow: none;
                margin-top: 22rem;
            }
            width: 1052px;
            margin: 0 auto;
            background: #FFFFFF;
            box-shadow: 0px 2.88px 4.8px rgba(166,
            166,
            185,
            0.5);
            border-radius: 12px;
            padding-bottom: 135px;
            .heading {
                @include encodesans;
                text-align: center;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                color: #212529;
                margin-top: 108px;
                padding-top: 66px;
                @include iphone {
                    color: white;
                    font-size: 32px;
                    line-height: 48px;
                    text-align: left;
                    width: 90%;
                    margin: auto;
                }
            }
            .desc {
                @include iphone {
                    width: 90%;
                    color: white;
                    margin: 16px 15px 24px 15px;
                }
                @include encodesans;
                font-size: 16px;
                line-height: 20px;
                color: #212529;
                margin-top: 3rem;
                margin: 30px 123px 0 66px;
            }
            .plotting {
                @include iphone {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                }
                display: grid;
                grid-template-columns: 40% 60%;
                margin: 110px 0px 0px 108px;
                align-items: center;
                .img {
                    @include iphone {
                        display: none;
                    }
                }
                .content {
                    .detail {
                        .headings {
                            font-size: 30px;
                            line-height: 38px;
                            color: #212529;
                            margin-bottom: 19px;
                            @include iphone {
                                color: white;
                                font-size: 24px;
                                line-height: 38px;
                            }
                        }
                        .plot_desc {
                            font-size: 18px;
                            line-height: 28px;
                            color: #212529;
                            margin-top: 13px;
                            width: 70%;
                            @include iphone {
                                color: white;
                                font-size: 16px;
                                line-height: 28px;
                                font-weight: normal;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .harvesting {
                margin: 153px 174px 0px 108px;
                @include iphone {
                    width: 90%;
                    margin: 15px auto;
                    display: none;
                }
                .H_heading {
                    font-size: 30px;
                    line-height: 38px;
                    color: #212529;
                    margin-bottom: 19px;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                    color: #212529;
                    margin-top: 14px;
                }
            }
            .Timelords {
                @include iphone {
                    width: 90%;
                    margin: 15px auto;
                    display: none;
                }
                margin: 153px 170px 0px 108px;
                .T_heading {
                    font-size: 30px;
                    line-height: 38px;
                    color: #212529;
                    margin-bottom: 19px;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                    color: #212529;
                    margin-top: 14px;
                }
            }
            .Difficulty_and_weight {
                @include iphone {
                    width: 90%;
                    margin: 15px auto;
                    display: none;
                }
                margin: 153px 170px 135px 108px;
                .D_heading {
                    font-size: 30px;
                    line-height: 38px;
                    color: #212529;
                    margin-bottom: 19px;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                    color: #212529;
                    margin-top: 14px;
                }
                .before {
                    margin-top: 40px;
                }
            }
        }
    }
}

.farming__mb {
    display: none;
    @include iphone {
        display: block;
    }
    .harvesting {
        margin: 153px 174px 0px 108px;
        @include iphone {
            width: 90%;
            margin: 15px auto;
        }
        .H_heading {
            font-size: 30px;
            line-height: 38px;
            color: #212529;
            margin-bottom: 19px;
            @include iphone {
                font-size: 24px;
            }
        }
        p {
            font-size: 18px;
            line-height: 28px;
            color: #212529;
            margin-top: 14px;
            @include iphone {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    .Timelords {
        @include iphone {
            width: 90%;
            margin: 15px auto;
        }
        margin: 153px 170px 0px 108px;
        .T_heading {
            font-size: 30px;
            line-height: 38px;
            color: #212529;
            margin-bottom: 19px;
            @include iphone {
                font-size: 24px;
            }
        }
        p {
            font-size: 18px;
            line-height: 28px;
            color: #212529;
            margin-top: 14px;
            @include iphone {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    .Difficulty_and_weight {
        @include iphone {
            width: 90%;
            margin: 15px auto;
        }
        margin: 153px 170px 135px 108px;
        .D_heading {
            font-size: 30px;
            line-height: 38px;
            color: #212529;
            margin-bottom: 19px;
            @include iphone {
                font-size: 24px;
            }
        }
        p {
            font-size: 18px;
            line-height: 28px;
            color: #212529;
            margin-top: 14px;
            @include iphone {
                font-size: 16px;
                line-height: 28px;
            }
        }
        .before {
            margin-top: 40px;
        }
    }
}